.Tab{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px 0;

    background-color: #fff;
    border-top: 1px solid rgba(134, 134, 134, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}
.tabbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);

}


.tabbutton p{
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: 500;
}

.activeTabText{
    color: #1F800C;

}

.noactiveTabText{
    color: #808080;
}

.icons-svg{
    fill: #1F800C;

    stroke: #1F800C;
    color: #1F800C;
    width: 25px;

}




.ionicon {
    fill: #1F800C;
  }



  @media only screen and (min-width: 1024px) {
    .Tab {
      display: none;
    }
  }